<% layout("/layouts/boilerplate.ejs") -%>

    <div id="map" style="height: 600px;"></div>
    <form id="finalizeForm" method="POST" action="/classroom/<%=classroomId %>/form/<%= sessionId %>/finalize-attendance">
        <input type="hidden" name="sessionId" value="<%= sessionId %>">
        <input type="hidden" name="records" value="<%= records %>">
        <input type="hidden" id="updatedRecords" name="updatedRecords">
        <div class="user-box fbtn">
            <input type="text" placeholder="Proxy Student seperated by , " name="proxy">
            <button type="submit">Finalize Attendance</button>
        </div>
        
        
    </form>

    <!-- Include Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        const map = L.map('map').setView([15.3939419, 75.024363], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'TechSnap'
        }).addTo(map);

        const records = <%- JSON.stringify(records) %>;
        let updatedRecords = records.slice(); // Clone the original records

        records.forEach(record => {
            const marker = L.marker([record.latitude, record.longitude]).addTo(map)
                .bindTooltip(`Register No: ${record.registerNo}`, {permanent: false, direction: 'top'})
                .bindPopup(`Register No: ${record.registerNo}`)
                .on('click', function() {
                    updatedRecords = updatedRecords.filter(r => r.registerNo !== record.registerNo);
                    map.removeLayer(marker);
                });
        });

        document.getElementById('finalizeForm').addEventListener('submit', function() {
            document.getElementById('updatedRecords').value = JSON.stringify(updatedRecords);
        });
    </script>

